Repository jmuelbert/jm-python-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, markdownlint, markdown-link-check, cspell

prettier:
  name: Prettier (via pnpm)
  entry: pnpm exec prettier --check
  language: system

taplo:
  name: Taplo (TOML check)
  entry: pnpm run lint:toml --
  language: system
  pass_filenames: true

markdownlint:
  name: Markdownlint (via pnpm)
  entry: pnpm exec markdownlint --config .markdownlint.json
  language: system
  pass_filenames: true

markdown-link-check:
  name: Markdown links check (via pnpm)
  entry: pnpm exec markdown-link-check --config .markdown-link-check.json
  language: system
  pass_filenames: true

cspell:
  name: Spellcheck (via pnpm)
  entry: pnpm exec cspell --no-progress --config cspell.json
  language: system
  pass_filenames: true

fix: resolve issue in the docs-deply workflow
  .github/workflows/docs-deploy.yml
Due: prettier

feat: add missing files .gitattributes, .gitignore, -python-version and LICENSE
  .gitattributes
  .gitignore
  .python-version
  LICENSE
Due: none

fix: resolve issues in the scorecard workflow
  .github/workflows/scorecard.yml
Due: prettier

fix: resolve depend issues on ci and resolve workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier

fix: resolve issues on the ci and the release workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier

chore: change release workflow
  .github/workflows/release.yml
Due: prettier

chore: update configs and docs
  .editorconfig
  .envrc
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/python-setup/action.yml
  .github/gitleaks.toml
  .github/invite-contributors.yml
  .github/labeler.yml
  .github/project-config.yml
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/pr-automation.yml
  .github/workflows/release.yml
  .npmrc
  .pre-commit-config.yaml
  .prettierignore
  .readthedocs.yml
  CHANGELOG.md
  README.md
  REUSE.toml
  Taskfile.yml
  cspell.config.yaml
  docs/about/index.md
  docs/api-reference.md
  docs/community/code_of_conduct.de.md
  docs/developer-guide/index.md
  docs/getting-started/index.md
  docs/index.md
  docs/user-guide/index.md
  mkdocs.yml
  package.json
  pyproject.toml
  scripts/compile-babel-translations.sh
  scripts/compile-qt-translations.sh
  scripts/extract-babel-translations.sh
  scripts/extract_qt_translations.sh
Due: prettier, taplo, markdownlint, markdown-link-check, cspell

fix: remove sh extension from shellfiles
  scripts/compile-babel-translations
  scripts/compile-babel-translations.sh
  scripts/compile-qt-translations
  scripts/compile-qt-translations.sh
  scripts/extract-babel-translations
  scripts/extract_qt_translations
Due: none

feat: move shell script for coverage button from wf in a extern file
  .github/scripts/update-coverage-badge.sh
Due: none

fix: delete the translation scripts
  scripts/compile-babel-translations
  scripts/compile-qt-translations
  scripts/extract-babel-translations
  scripts/extract_qt_translations
Due: none

feat: split yamllint config in two parts: global, actionscript
  .github/.yamllint
  .yamllint
Due: none

feat: add taplo config for toml linting
  .taplo.toml
Due: taplo

feat: add project-words for cspell
  project-words.txt
Due: cspell

fix: remove extension, do not really not that
  .github/.yamllint
  .github/scripts/update-coverage-badge
  .pre-commit-config.yaml
  LICENSES/BSD-3-Clause.txt
Due: prettier

fix: remove script with extension
  .github/scripts/update-coverage-badge.sh
Due: none

fix: upgrade workflows and pre-commit
  .github/workflows/dependabot-merge.yml
  .github/workflows/pr-automation.yml
  .pre-commit-config.yaml
Due: prettier

fix: resolve all issues from pre-commit
  .github/.yamllint
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/workflows/codeql-analysis.yml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .yamllint
  CHANGELOG.md
  README.md
  Taskfile.yml
  package.json
  pyproject.toml
  src/jm_python_template/gui/resources.qrc
Due: prettier, taplo, markdownlint, markdown-link-check, cspell

fix: issue in labels and docs-lint
  .github/labels.yml
  .github/styles/Readability/meta.json
  .github/workflows/labels-sync.yml
  commitlint.config.js
Due: prettier

fix: add the missing dep chalk
  .github/workflows/labels-sync.yml
Due: prettier

chore: add pnpm-lock.yaml to repo, for dependabot
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-lint.yml
  .github/workflows/pr-automation.yml
  .gitignore
  .prettierignore
  CHANGELOG.md
  REUSE.toml
  mkdocs.yml
  pnpm-lock.yaml
  pyproject.toml
  src/jm_python_template/main.py
Due: prettier, taplo, markdownlint, markdown-link-check, cspell

fix: resolves issues in workflows
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-lint.yml
  .github/workflows/pr-automation.yml
Due: prettier

chore: complete .gitignore
  .gitignore
Due: none

chore: complete settings for prettier and reuse
  .prettierignore
  REUSE.toml
Due: taplo

chore: make the config for build in pyproject and mkdocs better
  mkdocs.yml
  pyproject.toml
Due: prettier, taplo

fix: resolve issue in main.py
  src/jm_python_template/main.py
Due: none

fix: issue in changelog.md
  CHANGELOG.md
Due: prettier, markdownlint, markdown-link-check, cspell

feat: update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier, markdownlint, markdown-link-check, cspell

fix: set the dependabot-config to conventionial version
  .github/dependabot.yml
Due: prettier

feat: add environment production for releases
  .github/workflows/release.yml
Due: prettier

feat: add config for release-changelog-builder
  .github/release-changelog-config.json
Due: prettier

fix: change version to full-sha
  .github/actions/python-setup/action.yml
Due: prettier

fix: resolve yamllint issues
  .github/dependabot.yml
Due: prettier

fix: remove release-drafter config, that aren't needed anyway
  .github/release-drafter.yml
Due: prettier

fix: change all versions to full-sha, minor cleanup
  .github/workflows/ci.yml
Due: prettier

fix: change all versions to full-sha, minor cleanups
  .github/workflows/codeql-analysis.yml
Due: prettier

fix: change all versions to full-sha
  .github/workflows/dependabot-merge.yml
Due: prettier

fix: change all versions to full-sha, minor cleanups
  .github/workflows/docs-deploy.yml
Due: prettier

Path conditions:
  prettier: any of: (?i)\.(css|json|yaml|yml|js|ts|md|markdown|mdx|adoc|asciidoc)$, but not: (?x)( LICENSE| LICENSES/| pnpm-lock.yaml )
  taplo: any of: (?i)^.*\.toml$, but not: (?x)( LICENSE| LICENSES/| pnpm-lock.yaml )
  markdownlint: any of: (?i)\.(md|markdown|mdx|adoc|asciidoc)$, but not: (?x)( LICENSE| LICENSES/| pnpm-lock.yaml )
  markdown-link-check: any of: (?i)\.(md|markdown|mdx|adoc|asciidoc)$, but not: (?x)( LICENSE| LICENSES/| pnpm-lock.yaml )
  cspell: any of: (?i)\.(md|markdown|mdx|adoc|asciidoc|rst|txt|html|htm)$, but not: (?x)( LICENSE| LICENSES/| pnpm-lock.yaml )
