Repository jmuelbert/jm-python-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, markdownlint, markdown-link-check, cspell

Path conditions:
  prettier: any of: (?i)\.(css|json|yaml|yml|js|ts|md|markdown|mdx|adoc|asciidoc)$, but not: (?x)( LICENSE| LICENSES/| pnpm-lock.yaml )
  taplo: any of: (?i)^.*\.toml$, but not: (?x)( LICENSE| LICENSES/| pnpm-lock.yaml )
  markdownlint: any of: (?i)\.(md|markdown|mdx|adoc|asciidoc)$, but not: (?x)( LICENSE| LICENSES/| pnpm-lock.yaml )
  markdown-link-check: any of: (?i)\.(md|markdown|mdx|adoc|asciidoc)$, but not: (?x)( LICENSE| LICENSES/| pnpm-lock.yaml )
  cspell: any of: (?i)\.(md|markdown|mdx|adoc|asciidoc|rst|txt|html|htm)$, but not: (?x)( LICENSE| LICENSES/| pnpm-lock.yaml )

fix: resolve a shellcheck issue in the ci workflow.
  .github/workflows/ci.yml
Due: prettier

fix: correct the test call from test:cov to test:coverage.
  .github/workflows/ci.yml
Due: prettier

fix: issue in script.
  .github/scripts/update-coverage-badge
Due: none

feat: use gh-action autocommit to update the coverage-badge.
  .github/scripts/update-coverage-badge
  .github/workflows/ci.yml
  project-words.txt
Due: prettier, cspell

fix: resolve an syntax issue in ci.yml
  .github/workflows/ci.yml
Due: prettier

fix: trailing whitespace in ci.yml
  .github/workflows/ci.yml
Due: prettier

feat: add coverage combine and change button just on main br.
  .github/workflows/ci.yml
Due: prettier

feat: add combine for all python versions.
  .github/workflows/ci.yml
Due: prettier

feat: add some tests as example.
  src/jm_python_template/buildprocess/__init__.py
  src/jm_python_template/buildprocess/core.py
  src/jm_python_template/gui/__init__.py
  tests/unit/core/__init__.py
  tests/unit/core/test_buildprocess.py
  tests/unit/test_sample.py
Due: none

fix: tests on ci workflow.
  .github/workflows/ci.yml
Due: prettier

feat: use impletemented tests from hatch now.
  pyproject.toml
Due: taplo

fix: resolve a syntax issue.
  pyproject.toml
Due: taplo

fix: syntax issue again.
  pyproject.toml
Due: taplo

fix: named the test and directory correct now.
  tests/unit/buildprocess/__init__.py
  tests/unit/buildprocess/test_core.py
Due: none

fix: reformat with taplo.
  pyproject.toml
Due: taplo

fix: solve issues showed with ruff.
  src/jm_python_template/buildprocess/core.py
Due: none

feat: remove docs related hooks
  .pre-commit-config.yaml
Due: prettier

feat: add vale and remove proselint.
  .vale.ini
Due: none

feat: add docs-lint workflow. Split code and docs from now.
  .github/workflows/docs-lint.yml
Due: prettier

fix: change comments to english.
  .github/.yamllint
Due: none

feat: split code and docs. do the canges for that.
  .github/workflows/ci.yml
Due: prettier

feat: changes for spitting code and docs.
  Taskfile.yml
Due: prettier

fix: add .svg, .qrc and licenses to the igmores.
  cspell.config.yaml
Due: prettier

fix: add a new word to the list.
  project-words.txt
Due: cspell

fix: remove proselint do improvements.
  pyproject.toml
Due: taplo

fix: resolve issues.
  src/jm_python_template/buildprocess/core.py
  tests/unit/buildprocess/test_core.py
Due: none

feat: add vale, update deps and scripts.
  package.json
Due: prettier

fix: enable commitlint also for push.
  .github/workflows/pr-automation.yml
Due: prettier

fix: enable commitlint also for push
  .github/workflows/pr-automation.yml
Due: prettier

fix: issues in ci/docs-lint.
  .github/workflows/ci.yml
  .github/workflows/docs-lint.yml
  pyproject.toml
Due: prettier, taplo

fix: file not found issue
  .github/workflows/pr-automation.yml
Due: prettier

fix: do use vale action from now.
  .github/workflows/docs-lint.yml
  Taskfile.yml
  package.json
Due: prettier

fix: resolve issue in docs-lint
  .github/workflows/docs-lint.yml
Due: prettier

fix: issue in docs and in vale.ini
  .github/workflows/docs-lint.yml
  .vale.ini
Due: prettier

feat: add workflows and docs structure
  .github/actions/python-setup/action.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/issue-managment.yml
  .github/workflows/labels-sync.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-automation.yml
  .github/workflows/scorecard.yml
  README.md
  docs/about/changelog.md
  docs/about/index.md
  docs/api-reference.md
  docs/community/code_of_conduct.md
  docs/community/contributing.md
  docs/community/faq.md
  docs/css/custom.css
  docs/developer-guide/index.md
  docs/getting-started/index.md
  docs/includes/abbreviations.md
  docs/index.md
  docs/user-guide/index.md
  mkdocs.yml
Due: prettier, markdownlint, markdown-link-check, cspell

fix: remove unusable part from docs-deploy workflow and add configs
  .github/branch-name-patterns.yml
  .github/dependabot.yml
  .github/dependency-review-config.yml
  .github/gitleaks.toml
  .github/invite-contributors.yml
  .github/labeler.yml
  .github/labels.yml
  .github/project-config.yml
  .github/release-drafter.yml
  .github/repo-metadata.yml
  .github/scorecard-policy.yml
  .github/workflows/docs-deploy.yml
Due: prettier, taplo

fix: remove github-script from scorecard workflow
  .github/workflows/scorecard.yml
Due: prettier

feat: add the jm-python-template project logo
  docs/.overrides/partials/copyright.html
  docs/assets/images/jm-py-logo.svg
  mkdocs.yml
Due: prettier, cspell

feat: update and complete docs, add several files
  .envrc
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/workflows/docs-deploy.yml
  .markdown-link-check.json
  .markdownlint.json
  .npmrc
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  AUTHORS.md
  CHANGELOG.md
  REUSE.toml
  SECURITY.md
  commitlint.config.js
  cspell.config.yaml
  cspell.json
  docs/about/changelog.md
  docs/about/index.md
  docs/api-reference.md
  docs/developer-guide/security.md
  docs/index.md
  mkdocs.yml
  package.json
  pyproject.toml
  src/jm_python_template/__about__.py
  src/jm_python_template/__init__.py
  src/jm_python_template/main.py
  tests/__init__.py
Due: prettier, taplo, markdownlint, markdown-link-check, cspell

chore: add the missed copyright snippet
  docs/.overrides/partials/copyright.html
Due: cspell
